.fadeOut {
    animation: fadeOut 0.4s linear;
}
  
.fadeIn {
    animation: fadeIn 0.4s linear;
}

.fade {
    opacity: 0;
}

@keyframes fadeOut {
from {
    opacity: 1;
}
to {
    opacity: 0;
}
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}